.about-img {
    padding: 0 30px 30px 15px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 30px;
        right: 10px;
        left: 50px;
        bottom: 0;
        border: 10px solid #efefef;
    }
    img {
        box-shadow: -20px -19px 0px -4px #efefef;
    }
    li {
        font-size: 18px;
        &::after {
            content: "";
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background-color: #757575;
            margin: 0px 12px;
            position: relative;
            display: inline-block;
            top: -3px;
        }
        &:last-child {
            &:after {
                content: "";
                display: none;
            }
        }
    }
}

.skill-custom {
    .progress {
        height: 10px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
    }
    .progress-bar {
        background: #6092d6;
        background: -webkit-linear-gradient(to right, #3648ff, #6092d6);
        background: linear-gradient(to right, #3648ff, #6092d6);
    }
}