// cta scssṭ

.bg-cta-img {
    background-image: url('../images/bg-cta-img.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.cta-desc {
    max-width: 635px;
    line-height: 2.0;
}

.hire-form {
    .form-control {
        height: 50px;
        box-shadow: none;
        &:focus {
            border-color: #3648ff;
        }
    }
}

.modal {
    background: rgba(16, 16, 21, 0.89);
}